@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --SectionHero_desktopTitleMaxWidth: 625px;

  --SectionHero_animation: {
    animation-name: animationTitle;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    visibility: hidden;
    opacity: 1;
    position: relative;
  }
}

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

.root {
  @apply --backgroundImage;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* Text positioning is done with paddings */
}

.heroContent {
  margin: 0 24px 0 24px;

  @media (--viewportMedium) {
    margin: 0 7.5vw 0 7.5vw;
  }

  /* Special viewport for adjusting the heroContent's placement */

  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    padding: 0 36px 0 36px;
  }

  @media only screen and (min-width: 1367px) {
    margin: 0 auto;
    max-width: calc(1052px + 36px + 36px);
    width: 100%;
    padding: 0 36px 0 36px;
  }

  background: -webkit-linear-gradient(135deg,rgba(0,0,0,.3),rgba(0,0,0,.6)),url(/static/media/dental-clinic-background.8e10779d.jpg);
  background: linear-gradient(-45deg,rgba(0,0,0,.3),rgba(0,0,0,.6)),url(/static/media/dental-clinic-background.8e10779d.jpg);
  background-color: #4a4a4a;
  background-size: cover;
  background-position: 50%;
}

.heroMainTitle {
  @apply --marketplaceHeroTitleFontStyles;
  color: var(--matterColorLight);

  @apply --SectionHero_animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
}

.heroSubTitle {
  @apply --marketplaceBodyFontStyles;

  color: var(--matterColorLight);
  margin: 0 0 32px 0;

  @apply --SectionHero_animation;
  animation-delay: 0.65s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    margin: 0 0 63px 0;
  }
}

.heroButton {
  @apply --marketplaceButtonStyles;
  @apply --SectionHero_animation;

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
    width: 260px;
  }
}

a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.landing_page_form {
  float:right;
  width: 45%;
}

.landing_page_form h1 {
  text-align: center;
}

.et_pb_section_1.et_pb_section {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 150px;
  padding-left: 0px;
}

div.et_pb_section.et_pb_section_1 {
  background-size: initial;
  background-position: top center;
  background-image: url(https://denteator.com/wp-content/uploads/2020/01/dentist-04.png)!important;
}

.et_pb_row_1 {
  background-image: linear-gradient(108deg,#35abcd 0%,rgba(0,129,255,0.7) 100%);
  border-radius: 0 0 14vw 14vw;
  overflow: hidden;
  max-width: 1280px;
  box-shadow: 0px 20px 50px 0px rgba(0,121,255,0.2);
}

.et_pb_row_1.et_pb_row {
  padding-top: 70px!important;
  padding-right: 5vw!important;
  padding-bottom: 70px!important;
  padding-left: 5vw!important;
  margin-left: auto!important;
  margin-right: auto!important;
  padding-top: 70px;
  padding-right: 5vw;
  padding-bottom: 70px;
  padding-left: 5vw;
}

.et_pb_blurb_0.et_pb_blurb {
  line-height: 2em;
}

.et_pb_blurb_0 .et-pb-icon {
  color: #ffffff;
}

.et_pb_blurb_position_left .et_pb_blurb_container, .et_pb_blurb_position_right .et_pb_blurb_container {
  display: table-cell;
  vertical-align: top;
}

.et_pb_blurb_position_left .et_pb_blurb_container {
  padding-left: 15px;
}

.et_pb_blurb.et_pb_text_align_left .et_pb_blurb_content .et_pb_blurb_container {
  text-align: left;
}

.et_pb_blurb_0.et_pb_blurb p {
  line-height: 2em;
  font-size: 14px;
}

.et_pb_section, .et_pb_slider .et_pb_slide {
  background-position: center;
  -webkit-background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: 100%;
  -moz-background-size: cover;
  background-size: 100%;
  background-size: cover;
}

.et_pb_section {
  position: relative;
  background-color: #fff;
}


.et_pb_row {
  position: relative;
  width: 80%;
  max-width: 1080px;
  margin: auto;
}


.et_pb_column {
  float: left;
  position: relative;
  z-index: 9;
  background-position: center;
  background-size: cover;
}

.et_pb_css_mix_blend_mode_passthrough {
  mix-blend-mode: unset!important;
}

.et_pb_column_5 {
  z-index: 9;
  position: relative;
}

.et_pb_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  line-height: 0;
}

.et_pb_image_1 {
  text-align: left;
  margin-left: 0;
}

.et_pb_image .et_pb_image_wrap {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.et_pb_image_1 .et_pb_image_wrap {
  border-radius: 10vw 10vw 10vw 0;
  overflow: hidden;
  box-shadow: 0px 20px 30px -6px rgba(173,180,208,0.2);
}

.box_shadow_overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.et_pb_image img {
  position: relative;
}

.et_pb_image_1 .et_pb_image_wrap img {
  height: 760px;
  min-height: 712px;
  max-height: 199px;
}

.et_pb_column_6 {
  z-index: 9;
  position: relative;
}

.et_pb_text_align_left {
  text-align: left;
}

.et_pb_text_1 {
  line-height: 2em;
}

.et_pb_text_inner {
  position: relative;
}

.et_pb_text_inner p{
  font-size: 14px;
}

.et_pb_text>:last-child {
  padding-bottom: 0;
}

.et_pb_text_1 h2 {
  font-size: 40px;
  line-height: 1.4em;
}

.et_pb_text_1 p {
  line-height: 2em;
}

.et_pb_text_10 h3 {
  font-size: 20px;
  line-height: 1.6em;
}

.et_pb_text_10 p {
  font-size: 14px;
  line-height: 2em;
}

.et_pb_text_9 h2 {
  font-size: 40px;
  line-height: 1.4em;
}

.et_pb_section_3.et_pb_section {
  padding-top: 160px;
  padding-right: 0px;
  padding-bottom: 54px;
  padding-left: 0px;
  margin-top: -55px;
}

.et_pb_bg_layout_dark h4 {
  color: #fff!important;
  font-size: 18px;
}

.et_pb_bg_layout_dark p {
  color: #fff!important;
  font-size: 18px;
}


.et_pb_section_0.et_pb_section {
  padding-top: 12vw;
  padding-bottom: 12vw;
}

div.et_pb_section.et_pb_section_0 {
  background-position: center right;
  background-image: radial-gradient(circle at right,rgba(255,255,255,0) 0%,#f9fafc 100%),url('../../assets/dentist-03.jpg')!important;
}

.et_pb_row_0 {
  max-width: 1280px;
}

.et_pb_text_0 h1 {
  font-size: 50px;
  line-height: 1.4em;
}

.et_pb_text_0 h2 {
  font-size: 20px;
  color: rgba(0,0,0,0.35)!important;
  line-height: 1.6em;
}

.et_pb_button_module_wrapper.et_pb_button_alignment_center {
  text-align: center;
}

.et_pb_button {
  position: relative;
  padding: .3em 1em;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em!important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.et_pb_button_module_wrapper>a {
  display: inline-block;
}

body #page-container .et_pb_section .et_pb_button_0 {
  color: #ffffff!important;
  border-width: 7px!important;
  border-color: rgba(0,0,0,0);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700!important;
  background-color: #35abcd;
}

.et_pb_image_0 {
  text-align: left;
  margin-left: 0;
}

.et_pb_image .et_pb_image_wrap {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

div.et_pb_section.et_pb_section_3 {
  background-image: linear-gradient(180deg,#f3f5fa 0%,#ffffff 100%)!important;
}

.et_pb_bottom_inside_divider, .et_pb_top_inside_divider {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat-y: no-repeat;
}

.et_pb_top_inside_divider {
  margin-top: -1px;
}

.et_pb_section_3.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTMyMCAyOEMxNjAgMjggODAgNDkgMCA3MFYwaDEyODB2NzBjLTgwIDIxLTE2MCA0Mi0zMjAgNDItMzIwIDAtMzIwLTg0LTY0MC04NHoiLz48L2c+PC9zdmc+);
  background-size: 5.5555555555556% 14px;
  top: 0;
  height: 14px;
  z-index: 1;
}

.section_has_divider .et_pb_row {
  z-index: 5;
}

.et_pb_column_7 {
  z-index: 9;
  position: relative;
}

.et_pb_blurb_content {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.et_pb_blurb_position_left .et_pb_blurb_content {
  text-align: left;
}

.et_pb_main_blurb_image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 30px;
  line-height: 0;
}

.et_pb_blurb_position_left .et_pb_main_blurb_image, .et_pb_blurb_position_right .et_pb_main_blurb_image {
  display: table-cell;
  width: 32px;
  line-height: 0;
}

.et_pb_blurb .et_pb_image_wrap {
  display: block;
  margin: auto;
}

.et_pb_icon {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: ETmodules;
  font-size: 96px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-transform: none;
  content: attr(data-icon);
  speak: none;
}

.et_pb_animation_off {
  opacity: 1;
}

.et_pb_blurb_position_left .et-pb-icon, .et_pb_blurb_position_right .et-pb-icon {
  display: table-cell;
  font-size: 32px;
}

.et_pb_blurb_3 .et-pb-icon {
  color: #35abcd;
}

.et_pb_blurb_position_left .et_pb_blurb_container, .et_pb_blurb_position_right .et_pb_blurb_container {
  display: table-cell;
  vertical-align: top;
}

.et_pb_blurb_position_left .et_pb_blurb_container {
  padding-left: 15px;
}

.et_pb_blurb.et_pb_text_align_left .et_pb_blurb_content .et_pb_blurb_container {
  text-align: left;
}

.et_pb_blurb_container p{
  font-size: 14px;
}

.welcome_image {
  max-width: 100%;
}

.et_pb_section_4 {
  border-radius: 0 0 0 20vw;
  z-index: 10;
  box-shadow: 0px 40px 60px 0px rgba(0,64,135,0.06);
}
.et_pb_section_4.et_pb_section {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 220px;
}

.et_pb_row_4 {
  width: 100%;
  max-width: 100%;
}


.et_pb_row_5 {
  width: 100%;
  max-width: 100%;
}

.et_pb_row_5.et_pb_row {
  padding-top: 0px!important;
  padding-right: 0px!important;
  padding-bottom: 0px!important;
  padding-left: 0px!important;
  margin-left: auto!important;
  margin-right: 0px!important;
  padding-top: 0;
  padding-right: 0px;
  padding-bottom: 0;
  padding-left: 0px;
}

.et_pb_text_align_center {
  text-align: center;
}

.et_pb_blurb_6 {
  box-shadow: 0px 20px 50px 0px #35abcd;
}

.et_pb_blurb_6.et_pb_blurb {
  background-color: #35abcd;
  border-radius: 0 0 0 10vw;
  overflow: hidden;
  padding-top: 60px!important;
  padding-bottom: 30px!important;
  padding-left: 60px!important;
  margin-bottom: 30px!important;
  margin-left: -60px!important;
}

.et_pb_blurb_7 {
  box-shadow: 0px 20px 50px 0px #35abcd;
}

.et_pb_blurb_7.et_pb_blurb {
  background-color: #35abcd;
  padding-top: 60px!important;
  padding-bottom: 30px!important;
  margin-bottom: 30px!important;
}

.et_pb_animation_top {
  opacity: 1;
}

.et_pb_text_2 {
  font-size: 16px;
  line-height: 1.8em;
}

.et_pb_text_2 h2 {
  font-size: 40px;
  line-height: 1.4em;
}

.et_pb_text_3 {
  padding-right: 20px!important;
  padding-left: 20px!important;
  margin-bottom: 80px!important;
}

.margin_top_100 {
  margin-top: 100px;
}

.et_pb_section_5 {
  box-shadow: inset 80px -200px 200px 0px #ffffff;
}

.et_pb_section_5.et_pb_section {
  padding-top: 8vw;
  padding-right: 0px;
  padding-bottom: 8vw;
  padding-left: 0px;
}

div.et_pb_section.et_pb_section_5 {
  background-image: linear-gradient(153deg,#ffffff 30%,rgba(255,255,255,0.29) 80%),url(https://denteator.com/wp-content/uploads/2020/01/dentist-10.jpg)!important;
}

.et_pb_column_4_4 .et_pb_module {
  margin-bottom: 4%;
}

@media (min-width: 981px) {
  .et_pb_section {
    padding: 4% 0;
  }
  .et_pb_row {
    padding: 2% 0;
  }
  .et_pb_column {
    margin-right: 5.5%;
  }
  .et_pb_column_1_2 {
    width: 47.25%;
  }
  .et_pb_column_1_3 {
    width: 29.667%;
  }
  .et_pb_column_1_6 {
    width: 16.6667%;
  }
  .et_pb_row .et_pb_column.et_lst_child, .et_pb_row .et_pb_column:last-child, .et_pb_row_inner .et_pb_column.et_lst_child, .et_pb_row_inner .et_pb_column:last-child {
    margin-right: 0!important;
  }
  .et_pb_module {
    margin-bottom: 5.82%;
  }
  .et_pb_section .et_pb_row .et_pb_column .et_pb_module.et-last-child, .et_pb_section .et_pb_row .et_pb_column .et_pb_module:last-child, .et_pb_section.et_section_specialty .et_pb_row .et_pb_column .et_pb_column .et_pb_module.et-last-child, .et_pb_section.et_section_specialty .et_pb_row .et_pb_column .et_pb_column .et_pb_module:last-child, .et_pb_section.et_section_specialty .et_pb_row .et_pb_column .et_pb_row_inner .et_pb_column .et_pb_module.et-last-child, .et_pb_section.et_section_specialty .et_pb_row .et_pb_column .et_pb_row_inner .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
  }

  .et_pb_column_services {
    margin-right: 0;
  }
}

.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
